{% extends "layout.html.twig" %}

{% block content %}

        <h2>{{ data.title }}</h2>
        <div class = "cards">
        {% for team in teams %}
            <div class = "card">
                <img src="{{ team.getMedia().getUrl() }}" alt={{ team.getMedia().getAlt() }}>
                <h3>{{ team.name }}</h3>
                <p>{{ team.description }}</p>

                <button href="">DéCOUVREZ {{ team.name }}</button>
            </div>
        {% endfor %}
        </div>

{% endblock %}