{% extends "layout.html.twig" %}

{% block content %}

        <div class = "cards">
            <div class = "card-team">
                <h2>{{ team.name }}</h3>
                <img src="{{ player.logo }}" alt={{ player.logo }}>
                <p>{{ player.name }}</p>
                <a href="#">{{ team.button_text }}</a>
            </div>
        </div>

{% endblock %}