{% extends "layout.html.twig" %}

{% block content %}
    
        <h2>{{ data.title }}</h2>
        <div class = "cards">
        {% for team in teams %}
            <div class = "card">
                <img src="{{ team.logo }}" alt={{ team.logo }}>
                <h3>{{ team.name }}</h3>
                <p>{{ team.description }}</p>
                <a href="#">{{ team.button_text }}</a>
            </div>
        {% endfor %}
        </div>

{% endblock %}
