{% extends "layout.html.twig" %}

{% block content %}
<<<<<<< HEAD

=======
>>>>>>> 4571c8525c99de7740194d051c8fc49854dcced2
        <h2>{{ data.title }}</h2>
        <div class = "cards">
        {% for team in teams %}
            <div class = "card">
                <img src="{{ team.logo }}" alt={{ team.logo }}>
                <h3>{{ team.name }}</h3>
                <p>{{ team.description }}</p>
                <button href="">DéCOUVREZ {{ team.name }}</button>
            </div>
        {% endfor %}
        </div>

{% endblock %}